<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
</head>
<body class="container">

<header>
    <%- include('../partials/header') %>
</header>

<br><br><br><br><br><br>
<main>
    <div class="text-center">
        <h2>Yariv Garala & Stav Lobel</h2>
        <br>
        <h2>Software Engineering Student at SCE</h2>

    </div>

<!--    <div class="jumbotron jumbotron-fluid" style="background: #aaa;">-->
<!--        <img class="avatar_image" src="PUT IMAGE SOURCE">-->
<!--    </div>-->
<!--    <div class="jumbotron jumbotron-fluid" style="background: #aaa;">-->
<!--        <img class="avatar_image" src="PUT IMAGE SOURCE">-->
<!--    </div>-->
</main>

<footer>
    <%- include('../partials/footer') %>
</footer>

</body>
</html>