<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
</head>
<body class="container">

<header>
    <%- include('../partials/header') %>
</header>

<main>
    <div class="jumbotron jumbotron-fluid" style="background: #aaa;">
        <h1>Welcome to Data Security Project!</h1>
    </div>

    <!--Table-->
    <div class="container">
        <table class="table">
            <br>
            <!--table titles-->
            <thead class="thead-primary">
            <tr class="text-center">
                <th>&nbsp;</th>
                <th>&nbsp;</th>
                <th>Email</th>
                <th>password</th>
            </tr>
            </thead>

            <!--/Table Row-->
            <tr>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
                <td>email@email.com</td>
                <td>pass911</td>
            </tr>

        </table>

    </div>
</main>

<footer>
    <%- include('../partials/footer') %>
</footer>

</body>
</html>