<!-- views/partials/header.ejs -->

<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">

    <ul class="navbar-nav mr-auto">

        <!--Navbar title-->
        <li class="nav-item">
            <a class="navbar-brand" href="/">
                <h3>Data Security Project</h3>
            </a>
        </li>

        <!--injection Simulation-->
        <li class="nav-item">
            <a class="nav-link" href="/injectionSimulation"><h4>Injection
                    simulation</h4>
            </a>
        </li>

        <!--Injection Scanner-->
        <li class="nav-item">
            <a class="nav-link" href="/injectionscan">
                <h4>Injection scanner</h4>
            </a>
        </li>

        <!--About-->
        <li class="nav-item">
            <a class="nav-link" href="/About">
                <h4>About</h4>
            </a>
        </li>

    </ul>

    <!--    class = collapse navbar-collapse-->
    <div class="nav justify-content-end" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="https://github.com/yariv1025/SQLInjection">
                    <h4>GitHub</h4>
                </a>
            </li>
        </ul>
    </div>
</nav>
<!--bootstrap template end-->
